body {
    background-color: #eee;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 50px;
}

th {
    text-align: left;
    padding: 0 15px 15px 0;
}
td {
    padding: 0 15px 15px 0;
}


input[type=text] {
    border: 1px solid #444;
    font-size: 16px;
    padding: 10px;
    width: 500px;
}

.submit {
    border: 1px solid #444;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    width: 480px;
    cursor: pointer;
    box-shadow: 0px 0px 6px #888;
}
.submit:hover {
    border: 1px solid #999;
    box-shadow: 0px 0px 5px #aaa;
}
.submit:active {
    box-shadow: none;
}

.submit.disable {
    box-shadow: none;
    opacity: 0.5;
}

.submit.disable:hover {
    border: 1px solid #555;
    box-shadow: none;
}

.submit.disable:active {
    box-shadow: none;
}
